.header{
  background-color: rgb(240,240,240);
  width: 100%;
  text-align: center;
}
body {
  background-color: #2b3647;
  color: #fff;
}
.header-content{
  height: 100%;
  width: 80%;
  display: inline-block;
  text-align: center;
  overflow: hidden;
}
.profile {
  margin: 20px;
  height: 80px;
  width: 80px;
  display: inline-block;
  vertical-align: top;
}
.profile-img{
  width: 100%;
  height: 100%;
}
.header-info{
  min-width: 200px;
  width: 50%;
  margin: 20px 15px 10px 15px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.info-line.name{
  font-size: 16px;
  font-family: 'Microsoft Yahei';
  font-weight: bold;
}
.info-line{
  font-size: 14px;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 5px 0;
}
.info-th{
  font-weight: bold;
  vertical-align: top;
}
.info-line.lighter{
  color: #555;
}
.info-sm-logo{
  height: 16px;
  width: 16px;
  display: inline;
  vertical-align: top;
  margin-right: 5px;
}
.contact-group{
  display: inline-block;
  vertical-align: top;
}
.contact-a{
  text-decoration: underline;
  color: #555;
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: bottom;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content{
  margin: 0 0 50px 0;
}
